<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <title></title>
</head>

<body>
  <div class="box" id="heading">
    <h1> <%= kindOfDay %></h1>
  </div>
  <div class="box">

    <% for (var i=0 ;i< newitems.length ;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= newitems[i] %></p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="New Item" autocomplete="off"></input>
      <button type="submit" name="button">+</input>

    </form>
  </div>

</body>

</html>
